.color-diwget-btn {
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 201;
    position: absolute;
    margin-top: 4px;
}

.color-diwget-btn-substrate {
    display: inline-block;
    width: 32px;
}

.ptro-bar .ptro-tool-ctl-name {
    padding: 0 2px 0 0;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    top: -4px;
}

.ptro-bar .ptro-tool-ctl-name {
    margin-left: 5px;

    background-color: rgba(255,255,255,0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media screen and (max-width: 768px) {
    .ptro-bar > div {
        white-space: nowrap;
    }
    span.ptro-bar-right {
        float: none;
    }
    span.ptro-info {
        display: none;
    }
}

.ptro-bar .ptro-input {
    height: 32px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: relative;
    top: -4px;
    padding-left: 2px;
    padding-right: 0;
}

.ptro-bar .ptro-input[type="number"] {
    width: 42px;
}

.ptro-bar .ptro-named-btn p {
    margin: 0;
}

.ptro-bar {
    height: 40px;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: normal;
}

.ptro-bar .ptro-icon {
    font-size: 20px;
}

button.ptro-icon-right:first-of-type {
    margin-right: 4px;
}


@-webkit-keyframes ptro-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ptro-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ptro-spinning {
    -webkit-animation: ptro-spin 0.5s infinite steps(9);
    animation: ptro-spin 0.8s infinite steps(9);
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
