
.painterro-wrapper {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: gray;
}

.painterro-wrapper:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.painterro-wrapper canvas {
    vertical-align: middle;
    display: inline-block;
}

/* bar */
.painterro-bar {
    height: 40px;
    bottom: 0;
    position: absolute;
    background-color: #f0f8ff;
    width: 100%;
}

.painterro-bar .icon {
    height: 16px;
    font-size: 20px;
}

.painterro-bar .icon-btn {
    background-color: #CDE0FF;
    border: 0;
    padding: 7px 5px 5px 5px;
    margin: 4px 0 0 4px;
}

.painterro-bar .btn-active {
    background-color: #7485B1;
    color: #f0f8ff;
}

.painterro-bar .icon-btn:focus{
    outline: none;
}


.painterro-wrapper .cropper-area {
    background-color: black;
    opacity: 0.7;
    position: absolute;
}
.painterro-wrapper .cropper-handler {
    background-color: white;
    border: 1px solid black;
    width:6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    position: absolute;
}

.painterro-wrapper .ptro-crp-el {
    position: absolute;
}