.ptro-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 869px) {
    .ptro-holder {
        position: fixed;
        left: 35px;
        right: 35px;
        top: 35px;
        bottom: 35px;
        box-shadow: 1px 1px 5px #888;
    }
}

@media screen and (max-width: 868px) {
    .ptro-holder {
        position: fixed;
        box-shadow: 3px 3px 15px #787878;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.ptro-holder-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.ptro-wrapper.ptro-v-aligned:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.ptro-icon {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ptro-icon-btn:disabled {
    color: gray;
}

.ptro-wrapper canvas {
    /* vertical-align: middle; */
    display: inline-block;
    touch-action: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.ptro-center-table {
    display:table;
    width: 100%;
    height: 100%;
}

.ptro-center-tablecell {
    display:table-cell;
    vertical-align:middle;
}

.ptro-icon-btn {
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptro-icon-btn i {
}


.ptro-named-btn {
    border: 0;
    display: inline-block;
    height: 30px;
    margin-left: 4px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    top:-5px;
    font-size: 14px;
    cursor: pointer;
}

.ptro-icon-btn:focus,
.ptro-named-btn:focus,
.color-diwget-btn:focus,
.ptro-color-btn:focus,
.ptro-selector-btn:focus {
    outline: none;
}

.ptro-color-btn {
    height: 32px;
    width: 32px;
    cursor: pointer;
}


.ptro-wrapper .select-handler {
    background-color: white;
    border: 1px solid black;
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 10;
}

.ptro-wrapper .ptro-crp-el {
    position: absolute;
}

.ptro-wrapper .ptro-substrate {
    opacity: 0.3;
    background-image: url("checkers.svg");
    background-size: 32px 32px;
    z-index: -1;
    position: absolute;
}

.ptro-wrapper .ptro-close-color-picker {
    height: 24px;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: auto;
}

.ptro-tool-controls {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.ptro-wrapper .ptro-crp-rect {
    position: absolute;
    background-color: rgba(225, 225, 225, .5);
    border: 1px dashed black;
    cursor: move;
    -moz-user-select: none;
    /* -webkit-user-select: none; */
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ptro-wrapper .ptro-crp-tl {
    position: absolute;
    top: 0;
    left: 0;
    margin: -4px 0 0 -4px;
    cursor: se-resize;
}

.ptro-wrapper .ptro-crp-bl {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 -4px -4px;
    cursor: ne-resize;
}

.ptro-wrapper .ptro-crp-br {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 -4px -4px 0;
    cursor: se-resize;
}

.ptro-wrapper .ptro-crp-tr {
    position: absolute;
    right: 0;
    top: 0;
    margin: -4px -4px 0 0;
    cursor: ne-resize;
}


.ptro-wrapper .ptro-crp-l {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -4px 0 0 -4px;
    cursor: e-resize;
}

.ptro-wrapper .ptro-crp-t {
    position: absolute;
    top: 0;
    left: 50%;
    margin: -4px 0 0 -4px;
    cursor: s-resize;
}

.ptro-wrapper .ptro-crp-r {
    position: absolute;
    top: 50%;
    right: 0;
    margin: -4px -4px 0 0 ;
    cursor: e-resize;
}

.ptro-wrapper .ptro-crp-b {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 -4px -4px;
    cursor: s-resize;
}

.ptro-wrapper div,
.ptro-wrapper span,
.ptro-wrapper i,
.ptro-bar .ptro-tool-ctl-name,
.ptro-bar input,
.ptro-bar .ptro-named-btn p {
    -moz-user-select: none;
   /* -webkit-user-select: none; */
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
}

.ptro-bar > div {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    align-items: center;
}



.ptro-wrapper .ptro-common-widget-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ptro-wrapper .ptro-pallet canvas {
    cursor: crosshair;
}

div.ptro-pallet {
    line-height: 0;
}

.ptro-wrapper .ptro-pallet,
.ptro-wrapper .ptro-resize-widget{
    width: 200px;
    padding: 10px;
    z-index: 100;
    box-sizing: border-box;
}

.ptro-error {
    background-color: rgba(200, 0, 0, 0.5);
    padding: 5px;
    margin: 5px;
    color: white;
}

.ptro-v-middle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.ptro-v-middle-in {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.ptro-wrapper .ptro-settings-widget {
    width: 300px;
    padding: 10px;
    z-index: 100;
    box-sizing: border-box;
}

td.ptro-resize-table-left {
    text-align: right;
    padding-right: 5px;
    float: none;
    font-size: 14px;
}

.ptro-wrapper .ptro-color-edit {
    margin-top: 15px;
}

.ptro-wrapper .ptro-color-edit input {
    float: left;
    height: 24px;
    text-align: center;
    font-family: monospace;
    font-size: 14px;
}

.ptro-wrapper .ptro-color-edit input:focus {
    outline: none;
}

.ptro-wrapper .ptro-color-edit input.ptro-color {
    width: 70px;
}

.ptro-wrapper .ptro-color-edit input.ptro-color-alpha {
    font-size: 14px;
    width: 55px;
    padding: 0 0 0 2px;
    line-height: 23px;
    height: 23px;
}

.ptro-wrapper .ptro-color-alpha-label,
.ptro-wrapper .ptro-label  {
    float: left;
    padding: 0 2px 0 0;
    margin-left: 5px;
    font-family: "Open Sans", sans-serif;
}

.ptro-pixel-size-input {
    width: 60px;
}

.ptro-wrapper .ptro-pipette {
    height: 24px;
    width: 24px;
    margin: 0;
}

div.ptro-color-widget-wrapper {
	z-index: 1000;
}

.ptro-wrapper .ptro-pipette i {
    line-height: 16px;
}

.ptro-wrapper .ptro-pipette:active {
    outline: none;
}

.ptro-wrapper .ptro-color-widget-wrapper .ptro-canvas-light,
.ptro-wrapper .ptro-color-widget-wrapper .ptro-canvas-alpha {
    margin-top: 10px;
}

span.ptro-color-light-regulator,
span.ptro-color-alpha-regulator {
    display: block;
    margin-top: -5px;
    margin-left: 5px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    cursor: crosshair;
}

span.ptro-color-alpha-regulator {
    margin-top: 0;
}

.alpha-checkers {
    background-image: url("checkers.svg");
    display: block;
    width: 100%;
    height: 15px;
    background-size: 10px 10px;
    margin-top: -20px;
}

input.ptro-input:focus,
select.ptro-input:focus {
    outline: none;
    box-shadow: none ;
}

input.ptro-input,
select.ptro-input {
    vertical-align: initial;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.ptro-named-btn p {
    font-size: inherit;
    line-height: normal;
    margin: inherit;
}

.ptro-wrapper .ptro-zoomer {
    border-top:1px solid white;
    border-left:1px solid white;
    position: absolute;
    z-index: 2000;
    display: none;
}

.ptro-text-tool-input {
    background-color: rgba(0,0,0,0);
    width: auto;
    outline: 1px dotted;
    display: block;
    min-width: 5px;
    padding: 0 1px;
    overflow-x: hidden;
    word-wrap: normal;
    overflow-y: hidden;
    box-sizing: content-box;
    line-height: normal;
    text-align: left;
}
.ptro-paster-wrappers-fits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ptro-selector-extend[type] {
    height: 70px;
    width: 70px;
}
.ptro-selector-extend div:last-child {
    display: none;
}
.ptro-selector-fit[type] {
    height: 220px;
    width: 220px;
    margin: 0px;
}
.ptro-paster-fit[class] {
    margin-right: 46px;
}
.ptro-text-tool-buttons {
    display: flex;
    position: absolute;
}
.ptro-text-tool-input-wrapper {
    position: absolute;
}

span.ptro-btn-color-checkers {
    background-image: url("checkers.svg");
    display: block;
    width: 32px;
    height: 32px;
    background-size: 16px 16px;
    margin-top: -32px;
}

span.ptro-btn-color-checkers-bar {
    background-image: url("checkers.svg");
    width: 32px;
    line-height: 12px;
    height: 32px;
    background-size: 16px 16px;
    z-index: 0;
    position: relative;
    margin-left: -32px;
}

.ptro-bar-right {
    display: flex;

}

.ptro-link {
    float: left;
    margin-right: -12px;
    margin-top: -23px;
}

.ptro-resize-link-wrapper {
    display: inline-block;
    height: 40px;
}


input.ptro-resize-width-input,
input.ptro-resize-heigth-input,
input.ptro-pixel-size-input {
    line-height: 22px;
    padding: 0 0 0 4px;
    height: 22px;
    width: 80px;
}

.ptro-selector-btn i {
    font-size: 56px;
}

.ptro-selector-btn {
    opacity: 0.8;
    border: 0;
    width: 100px;
    cursor: pointer;
}

.ptro-selector-btn {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ptro-selector-btn div {
    margin: 5px 0;
}

.ptro-paster-select .ptro-in div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.ptro-selector-btn:hover {
    opacity: 0.6;
}

.ptro-paster-select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.ptro-paster-select .ptro-in {
    background-color: rgba(0,0,0,0.7);
    padding: 40px;
}
.ptro-paster-select-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ptro-paster-select-wrapper-extends button:first-child {
    display: block;
    margin: 0 auto;
}
.ptro-paster-select-wrapper-extends button:last-child{
    display: block;
    margin: 0 auto;
}
.ptro-paster-select-wrapper-extends button:nth-child(2){
    display: inline-block;
    margin-right: 78px;
}
.ptro-paster-fit .ptro-paster-wrapper-label[class] {
    display: block; 
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.ptro-paster-select-wrapper-extends .ptro-paster-wrapper-label[class] {
    display: block; 
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.ptro-paste-label {
    color: white;
    margin-bottom: 10px;
}

.ptro-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}



i.mce-i-painterro:before, span.mce_painterro:before {
	font-size: 20px;
	font-family: ptroiconfont;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f101";
}

.ptro-scroller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

td.ptro-strict-cell {
    font-size: 8px;
    line-height: normal;
}