.ptro-holder-wrapper {
	z-index: 10000;
} 

div.ptro-holder {
	top: 32px;
}

i.mce-i-painterro:before, span.mce_painterro:before {
	font-size: 20px !important;
	font-family: ptroiconfont !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f101";
}

span.mce_painterro {
	line-height: 20px;
}