@font-face {
	font-family: "ptroiconfont";
	src: url("ptroiconfont.eot?bf58900bc0f41f759214435220e5b3df?#iefix") format("embedded-opentype"),
url("ptroiconfont.woff?bf58900bc0f41f759214435220e5b3df") format("woff"),
url("ptroiconfont.ttf?bf58900bc0f41f759214435220e5b3df") format("truetype"),
url("ptroiconfont.svg?bf58900bc0f41f759214435220e5b3df#ptroiconfont") format("svg");
	font-weight: normal;
    font-style: normal;
}

.ptro-icon {
}

.ptro-icon:before {
	font-family: ptroiconfont;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ptro-icon-apply:before {
	content: "\f101";
}
.ptro-icon-arrow:before {
	content: "\f102";
}
.ptro-icon-brush:before {
	content: "\f103";
}
.ptro-icon-close:before {
	content: "\f104";
}
.ptro-icon-crop:before {
	content: "\f105";
}
.ptro-icon-ellipse:before {
	content: "\f106";
}
.ptro-icon-eraser:before {
	content: "\f107";
}
.ptro-icon-line:before {
	content: "\f108";
}
.ptro-icon-linked:before {
	content: "\f109";
}
.ptro-icon-loading:before {
	content: "\f10a";
}
.ptro-icon-mirror:before {
	content: "\f10b";
}
.ptro-icon-open:before {
	content: "\f10c";
}
.ptro-icon-painterro0:before {
	content: "\f10d";
}
.ptro-icon-paste_extend_down:before {
	content: "\f10e";
}
.ptro-icon-paste_extend_right:before {
	content: "\f10f";
}
.ptro-icon-paste_extend_left:before {
	content: "\f10f";
	transform: rotate(-180deg);
}
.ptro-icon-paste_extend_top:before {
	content: "\f10f";
	transform: rotate(-90deg);
}
.ptro-icon-paste_fit:before {
	content: "\f110";
}
.ptro-icon-paste_over:before {
	content: "\f111";
}
.ptro-icon-pipette:before {
	content: "\f112";
}
.ptro-icon-pixelize:before {
	content: "\f113";
}
.ptro-icon-rect:before {
	content: "\f114";
}
.ptro-icon-redo:before {
	content: "\f115";
}
.ptro-icon-resize:before {
	content: "\f116";
}
.ptro-icon-rotate:before {
	content: "\f117";
}
.ptro-icon-save:before {
	content: "\f118";
}
.ptro-icon-select:before {
	content: "\f119";
}
.ptro-icon-settings:before {
	content: "\f11a";
}
.ptro-icon-text:before {
	content: "\f11b";
}
.ptro-icon-undo:before {
	content: "\f11c";
}
.ptro-icon-unlinked:before {
	content: "\f11d";
}
