@font-face {
	font-family: "ptroiconfont";
	src: url("ptroiconfont.eot?382f9f21c030ae2466b47b467e33325f?#iefix") format("embedded-opentype"),
url("ptroiconfont.woff?382f9f21c030ae2466b47b467e33325f") format("woff"),
url("ptroiconfont.ttf?382f9f21c030ae2466b47b467e33325f") format("truetype"),
url("ptroiconfont.svg?382f9f21c030ae2466b47b467e33325f#ptroiconfont") format("svg");
	font-weight: normal;
    font-style: normal;
}

.ptro-icon {
}

.ptro-icon:before {
	font-family: ptroiconfont !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ptro-icon-0painterro:before {
	content: "\f101";
}
.ptro-icon-blur:before {
	content: "\f102";
}
.ptro-icon-brush:before {
	content: "\f103";
}
.ptro-icon-close:before {
	content: "\f104";
}
.ptro-icon-crop:before {
	content: "\f105";
}
.ptro-icon-ellipse:before {
	content: "\f106";
}
.ptro-icon-eraser:before {
	content: "\f107";
}
.ptro-icon-line:before {
	content: "\f108";
}
.ptro-icon-linked:before {
	content: "\f109";
}
.ptro-icon-loading:before {
	content: "\f10a";
}
.ptro-icon-mirror:before {
	content: "\f10b";
}
.ptro-icon-open:before {
	content: "\f10c";
}
.ptro-icon-paste_extend_down:before {
	content: "\f10d";
}
.ptro-icon-paste_extend_right:before {
	content: "\f10e";
}
.ptro-icon-paste_fit:before {
	content: "\f10f";
}
.ptro-icon-paste_over:before {
	content: "\f110";
}
.ptro-icon-pipette:before {
	content: "\f111";
}
.ptro-icon-pixelize:before {
	content: "\f112";
}
.ptro-icon-rect:before {
	content: "\f113";
}
.ptro-icon-resize:before {
	content: "\f114";
}
.ptro-icon-rotate:before {
	content: "\f115";
}
.ptro-icon-save:before {
	content: "\f116";
}
.ptro-icon-select:before {
	content: "\f117";
}
.ptro-icon-settings:before {
	content: "\f118";
}
.ptro-icon-text:before {
	content: "\f119";
}
.ptro-icon-unlinked:before {
	content: "\f11a";
}
